body {
  margin: 0;
}
#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.big_box {
  position: relative;
}
.background_img {
  width: 1400px;
}
.play_icon_box {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
  border-radius: 30px;
}
.play_stop_icon {
  font-size: 60px;
  color: black;
}
.bottom_half {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.real_play_ground {
  position: relative;
  width: 90%;
  height: 75%;
  background: transparent;
}

.item_img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
.bug_img {
  z-index: 2;
}
.carrot_img {
  z-index: 1;
}
.game_box_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 3;
}
.game_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 120px;
  display: flex;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
.game_button {
  padding: 10px;
  font-size: 30px;
  background: blanchedalmond;
  margin: 10px;
  border: 5px solid black;
  border-radius: 20px;
}
.game_text {
  font-size: 25px;
  color: white;
}
.display_none {
  display: none;
}
.carrot_number {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background: tomato;
  color: white;
  border: 5px solid black;
  border-radius: 50%;
  font-size: 40px;
}
.countdown {
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 70px;
  font-size: 40px;
  color: black;
  text-align: center;
  background: white;
  border: 5px solid black;
  border-radius: 25px;
}
